In [ ]:
#am
import pandas as pd
from ipynb.fs.full.cleaning_account_dim import check_na_columns

In [9]:
df = pd.read_csv("../data/statement_fact_20250325.csv")
df.head(10)

,current_account_nbr,billing_cycle_date,payment_hist_1_12_mths,return_check_cnt_2yr,return_check_cnt_last_mth,return_check_cnt_py,return_check_cnt_total,return_check_cnt_ytd,prev_balance
0,PKgK5204A2hwjCfA,2019-02-01,QQQQQQQQQQQQ,0,99,0,0,0,5152.54
1,iOOwMzkHGaPVUDVL,2018-09-20,IIIAZZZZZZZZ,0,99,0,0,0,311.71
2,jXzGZNN2VER7OPYX,2023-12-27,QQQQQIIIIQQQ,0,99,0,0,0,1482.13
3,LHeW9saekessmQ64,2024-05-16,IIIIIIA,0,99,0,0,0,1039.10
4,3F9novlPuaHD8tZz,2025-01-13,IIIIIIIIIIII,0,99,0,0,0,1392.79
5,4uiUOYGAaZXOvKtj,2015-04-02,IQIIQAZZZZII,0,99,0,0,0,111.28
6,HYYTF5AmJRNzKPPV,2020-04-17,AZIQQQQQQQIQ,0,99,0,0,0,-20.00
7,jyxOkab6cITjLlA6,2020-10-09,QQIQQQQIQIQQ,0,99,0,0,0,1597.62
8,tr4FojChL3dD1SoF,2021-01-11,QQQQQQQBQQQQ,0,99,0,0,0,6601.39
9,biZIjy4RpKMA3LVS,2022-09-28,ZZZZZZZZZZZZ,0,99,0,0,0,-20.00

In [10]:
df.shape

(658228, 9)

In [13]:
check_na_columns(df)

current_account_nbr          0
billing_cycle_date           0
payment_hist_1_12_mths       0
return_check_cnt_2yr         0
return_check_cnt_last_mth    0
return_check_cnt_py          0
return_check_cnt_total       0
return_check_cnt_ytd         0
prev_balance                 0
dtype: int64

In [18]:
df.head()

,current_account_nbr,billing_cycle_date,payment_hist_1_12_mths,return_check_cnt_2yr,return_check_cnt_last_mth,return_check_cnt_py,return_check_cnt_total,return_check_cnt_ytd,prev_balance
0,PKgK5204A2hwjCfA,2019-02-01,QQQQQQQQQQQQ,0,99,0,0,0,5152.54
1,iOOwMzkHGaPVUDVL,2018-09-20,IIIAZZZZZZZZ,0,99,0,0,0,311.71
2,jXzGZNN2VER7OPYX,2023-12-27,QQQQQIIIIQQQ,0,99,0,0,0,1482.13
3,LHeW9saekessmQ64,2024-05-16,IIIIIIA,0,99,0,0,0,1039.10
4,3F9novlPuaHD8tZz,2025-01-13,IIIIIIIIIIII,0,99,0,0,0,1392.79

In [15]:
# check appropriate data types
df.dtypes

current_account_nbr           object
billing_cycle_date            object
payment_hist_1_12_mths        object
return_check_cnt_2yr           int64
return_check_cnt_last_mth      int64
return_check_cnt_py            int64
return_check_cnt_total         int64
return_check_cnt_ytd           int64
prev_balance                 float64
dtype: object

In [ ]:
# Occurs 12 Times business Name: Card Account Payment Historycode these Fields are The Activity Indicators
#  For The Last12-Statement Cycles (Left To Right).
#  The 12 Status Flagsrotate When The Account Cycles So That The Left Mostflag Indicates The AccountS Status During 
# The Last Cycle and The Right Most Flag Indicates The Account's Statusduring The Current Cycle One Year Ago. 
# The Systemautomatically Changes The First Flag When TheaccountS Status Changes Due To An Account Transfer Ordue
#  To An Across-Cycle Reversal Adjustment Or Interestcharge-Off. Only The First Flag On The Left (Last Cycle)Changes 
# By These Postings. At Cycle Time The Systemassesses The AccountS Status And Places Anappropriate Status Flag In The
#  First Position.Flag Values Are:0 ? 7 = No Postings During The Cycle (The Numberindicates The Number Of Cycles 
# Delinquent)A ? H = Debit Postings Only During The Cyclez = Account Not Statemented Because Of Zero Balanceand No 
# Activity
# 
# valid Values Are:
# A= Account Not Delinquent
# b = Account 1 Cycle Delinquent
# c = Account 2 Cycles Delinquent
# d = Account 3 Cycles Delinquent
# e= Account 4 Cycles Delinquent
# f = Account 5 Cycles Delinquent
# g = Account 6 Cycles Delinquent
# h = Account 7 Cycles Delinquent
# i ? 
# P = Credit Postings Only During The Cyclevalid Values Are:
# I = Account Not Delinquentj = Account 1 Cycle Delinquent
# k = Account 2 Cycles Delinquent
# l = Account 3 Cycles Delinquent
# m = Account 4 Cycles Delinquent
# n = Account 5 Cycles Delinquent
# o = Account 6 Cycles Delinquent
# p = Account 7 Cycles Delinquent
# u = Account 4 Cycles Delinquent
# v = Account 5 Cycles Delinquent
# w = Account 6 Cycles Delinquent
# x = Account 7 Cycles Delinquent
# % = Credit Balance With No Activity # = Credit Balance With Debit And Credit Activity
# + = Credit Balance With Debit Activity Only- 
# - = Credit Balance With Credit Activity Onlynote: Debit Activity Means Sale And Cash Advancepostings;
#  Credit Activity Means Payment Andreturn Postings.

# External status values and its description
# A - Authorization prohibited
# B - Bankrupt
# C - Closed
# E - Revoked
# F - Frozen
# I - Interest accrual prohibited
# L - Lost
# U - Stolen
# Z - Charged off system assigned when a charge off adjustment is made
# Blank/null - Normal

In [22]:
len(df["payment_hist_1_12_mths"].unique())

143646

In [24]:
df.columns

Index(['current_account_nbr', 'billing_cycle_date', 'payment_hist_1_12_mths',
       'return_check_cnt_2yr', 'return_check_cnt_last_mth',
       'return_check_cnt_py', 'return_check_cnt_total', 'return_check_cnt_ytd',
       'prev_balance'],
      dtype='object')

In [27]:
df_account_names = df["current_account_nbr"].value_counts().reset_index()
df_account_names = df_account_names[df_account_names["count"]==1].reset_index(drop=True)
ids = df_account_names["current_account_nbr"].unique()
ids = list(df_account_names["current_account_nbr"].unique())
len(ids)

863