In [11]:
#am
import pandas as pd
from ipynb.fs.full.cleaning_account_dim import check_na_columns

In [12]:
df = pd.read_csv("../data/fraud_claim_tran_20250325.csv")
df.head(10)

  current_account_nbr        case_id       transaction_dt  transaction_am
0    KQQdmrooVFs1Devc  3202508301390  2025-03-12 20:00:00            5.29
1    pSsrDqdWzfcfycPY  1202507700327  2025-01-31 19:00:00           10.53
2    n0PWMwNz6NKKESCn  3202508301490  2025-03-20 20:00:00          956.00
3    6pNTzbxXjNt2Vmzt  3202508301556  2025-03-04 19:00:00         2298.00
4    BZvkXIEsrZBFI7E6  3202508301411  2025-03-11 20:00:00          201.43
5    ED5OECilFoD8dk0L  3202308201339  2023-02-20 19:00:00           12.49
6    UycnUTDspyEcj0No  4202417301196  2024-06-10 20:00:00           17.12
7    56u9qUtvm2a0t3Lb  1202229001135  2022-10-16 00:20:06          100.13
8    kWUri7prJcN52scB  3202319400516  2023-07-23 20:00:00         -169.88
9    9Te1utCTmj7gTQM9  4202508301703  2025-02-27 19:00:00          599.00

In [13]:
df.shape[0]

202

In [14]:
df.dtypes

current_account_nbr     object
case_id                  int64
transaction_dt          object
transaction_am         float64
dtype: object

### Converting Date Time

In [15]:
check_na_columns(df)

current_account_nbr    0
case_id                0
transaction_dt         0
transaction_am         0
dtype: int64

In [16]:
cols_to_replace = ['transaction_dt']

In [17]:
for col in cols_to_replace:
    df[col] = pd.to_datetime(df[col], utc=True)

df.dtypes

current_account_nbr                 object
case_id                              int64
transaction_dt         datetime64[ns, UTC]
transaction_am                     float64
dtype: object

In [18]:
df

,current_account_nbr,case_id,transaction_dt,transaction_am
0,KQQdmrooVFs1Devc,3202508301390,2025-03-12 20:00:00+00:00,5.29
1,pSsrDqdWzfcfycPY,1202507700327,2025-01-31 19:00:00+00:00,10.53
2,n0PWMwNz6NKKESCn,3202508301490,2025-03-20 20:00:00+00:00,956.00
3,6pNTzbxXjNt2Vmzt,3202508301556,2025-03-04 19:00:00+00:00,2298.00
4,BZvkXIEsrZBFI7E6,3202508301411,2025-03-11 20:00:00+00:00,201.43
...,...,...,...,...
197,PaEqdbfhMbcWAbb2,3202503400513,2025-01-13 19:00:00+00:00,12.99
198,UycnUTDspyEcj0No,4202417301196,2024-05-26 20:00:00+00:00,19.51
199,ZB0SJEUntc0XyQuU,3202508301370,2025-03-11 20:00:00+00:00,277.02
200,KQQdmrooVFs1Devc,3202508301390,2025-03-12 20:00:00+00:00,18.29
201,nOfgWFfHnxJ7AhBK,4202431901233,2024-11-11 19:00:00+00:00,179.93

In [19]:
df.to_csv('../cleaned_data/cleaned_fraud_tran.csv', index=False)