In [8]:
import pandas as pd

df = pd.read_csv('../data/account_dim_20250325.csv')

print(df.head(10))

print(len(df))

  current_account_nbr     client_id                      open_date  \
0    nTgalbpd5Rsol7CA   YCTHAA278DC  2020-07-17T00:00:00.000-04:00
1    xYaLrD9IvmbVl1PB   CCSP489PLCC  2024-07-24T00:00:00.000-04:00
2    JM78WNziiRWgmL8e  HGBHARRFT984  2024-05-05T00:00:00.000-04:00
3    bv4NLVhWTGCf8KgC      OSELW263  2024-07-28T00:00:00.000-04:00
4    nrXceQabYIHo31lp  HGBHARRFT984  2024-09-15T00:00:00.000-04:00
5    L0r6GlmV0Ngx7E9P   ONEMV447COB  2024-05-12T00:00:00.000-04:00
6    JiogbNNfOSWVGjdr   CCSP489PLCC  2024-09-10T00:00:00.000-04:00
7    nb2pG80DDq4ucyZI   ARPPYALC768  2024-06-18T00:00:00.000-04:00
8    kqrsB4FtU00uXpWU      OSELW263  2024-06-30T00:00:00.000-04:00
9    ppwFGSPBF57u8319      JTX290DC  2024-08-23T00:00:00.000-04:00

            card_activation_date card_activation_flag ebill_ind  \
0                            NaN                    8         E
1  2024-08-09T00:00:00.000-04:00                    0         E
2  2024-05-05T00:00:00.000-04:00                    0  \\\\\\""
3  2024-09-08T00:00:00.000-04:00                    0  \\\\\\""
4  2024-09-15T00:00:00.000-04:00                    0  \\\\\\""
5  2024-05-12T00:00:00.000-04:00                    0         E
6  2024-09-10T00:00:00.000-04:00                    0         E
7  2024-06-18T00:00:00.000-04:00                    0         E
8  2025-01-10T00:00:00.000-05:00                    0  \\\\\\""
9  2024-09-05T00:00:00.000-04:00                    0         E

   date_in_collection  overlimit_type_flag payment_hist_1_12_mths  \
0                 NaN                    0           ZZZZZZIAZZZZ
1                 NaN                    0               IQIIIQIA
2                 NaN                    0            IIIQIQIIIIA
3                 NaN                    0                I1III1A
4                 NaN                    0               \\\\\\""
5                 NaN                    0               \\\\\\""
6                 NaN                    0               \\\\\\""
7                 NaN                    0             QIQIQQQQQA
8                 NaN                    0                    IQQ
9                 NaN                    0                QIQQQQA

  payment_hist_13_24_mths employee_code  external_status_reason_code  \
0            ZZZZIIIQIIII           NaN                            0
1                \\\\\\""           NaN                            0
2                \\\\\\""           NaN                            0
3                \\\\\\""           NaN                            0
4                \\\\\\""           NaN                            0
5                \\\\\\""           NaN                            0
6                \\\\\\""           NaN                            0
7                \\\\\\""           NaN                            0
8                \\\\\\""           NaN                            0
9                \\\\\\""           NaN                            0

   special_finance_charge_ind  pscc_ind ext_status_reason_cd_desc  \
0                         NaN         0                       NaN
1                         NaN         1                       NaN
2                         NaN         0                       NaN
3                         NaN         0                       NaN
4                         NaN         0                       NaN
5                         NaN         0                       NaN
6                         NaN         1                       NaN
7                         NaN         0                       NaN
8                         NaN         0                       NaN
9                         NaN         0                       NaN

  account_card_type
0         DUAL CARD
1         DUAL CARD
2              PLCC
3              PLCC
4              PLCC
5         DUAL CARD
6              PLCC
7              PLCC
8              PLCC
9         DUAL CARD
18070

In [7]:
def check_na_columns(df):
  
  na_counts = df.isna().sum()
  na_counts_sorted = na_counts.sort_values(ascending=False)
  return na_counts_sorted

na_columns = check_na_columns(df)
print(na_columns)

date_in_collection             18070
special_finance_charge_ind     18070
ext_status_reason_cd_desc      15493
employee_code                  15067
card_activation_date            2847
ebill_ind                         18
current_account_nbr                0
client_id                          0
open_date                          0
card_activation_flag               0
overlimit_type_flag                0
payment_hist_1_12_mths             0
payment_hist_13_24_mths            0
external_status_reason_code        0
pscc_ind                           0
account_card_type                  0
dtype: int64

In [12]:
# date_in_collection & special_finance_char_ind are empty columns
# ext_status_reason_cd_desc contains the description to the external_status_reason_code column

df = df.drop(columns=["date_in_collection", "special_finance_charge_ind", "ext_status_reason_cd_desc"])

check_na_columns(df)

employee_code                  15067
card_activation_date            2847
ebill_ind                         18
current_account_nbr                0
client_id                          0
open_date                          0
card_activation_flag               0
overlimit_type_flag                0
payment_hist_1_12_mths             0
payment_hist_13_24_mths            0
external_status_reason_code        0
pscc_ind                           0
account_card_type                  0
dtype: int64

In [17]:
df[df.employee_code == "H"]

,current_account_nbr,client_id,open_date,card_activation_date,card_activation_flag,ebill_ind,overlimit_type_flag,payment_hist_1_12_mths,payment_hist_13_24_mths,employee_code,external_status_reason_code,pscc_ind,account_card_type
3259,7qLFVzdDueqkLWxC,SVRDCMSNAS887,2013-11-01T00:00:00.000-04:00,2023-11-27T00:00:00.000-05:00,0,L,0,QQQQQQQQQQQQ,QQQQQAQQQQQQ,H,0,0,DUAL CARD
3260,zZOF8IXEHq7KwbSm,SVRDCMSNAS887,2014-07-13T00:00:00.000-04:00,2023-05-31T00:00:00.000-04:00,0,L,0,QQQQQQQQQQQQ,QQQQQQQQQQQQ,H,0,0,DUAL CARD
3261,jep7AyXKRYSvGyfG,SVRDCMSNAS887,2015-04-22T00:00:00.000-04:00,2024-05-23T00:00:00.000-04:00,0,L,0,QQQQQA+#BQQQ,QBQQQQQQQQQQ,H,0,0,DUAL CARD
3262,Cb8fyhcBne1FF8Gq,SVRDCMSNAS887,2011-08-24T00:00:00.000-04:00,2025-03-12T00:00:00.000-04:00,0,L,0,QQQQQQQQQQQQ,QQQQQQQQQQQQ,H,0,0,DUAL CARD
3263,4cvdAiNoJ9Gkx6Tc,SVRDCMSNAS887,2015-12-20T00:00:00.000-05:00,2024-10-05T00:00:00.000-04:00,0,E,0,QQQQQQQQQQQQ,QQQQQ#QQQQQA,H,80,0,DUAL CARD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15281,02WRVV8yusgcZWLW,SVRDCMSNAS887,2014-09-07T00:00:00.000-04:00,2025-02-06T00:00:00.000-05:00,0,L,0,QQQQQQQQQQQQ,QQQQQQQQQQQQ,H,0,0,DUAL CARD
15282,HOw8kmZcN2HcNTnX,SVRDCMSNAS887,2012-11-23T00:00:00.000-05:00,2024-09-24T00:00:00.000-04:00,0,L,0,QQA+#QQQQQQQ,QQQQQQQQQQQQ,H,0,0,DUAL CARD
15283,c5k89XbnYJI1A0bj,SVRDCMSNAS887,2014-11-02T00:00:00.000-04:00,2024-04-25T00:00:00.000-04:00,0,L,0,QQQQQQQQQQQQ,QQQQQQQQQQQQ,H,0,0,DUAL CARD
15284,LO2hgQtG5IVBuHCM,SVRDCMSNAS887,2009-04-16T00:00:00.000-04:00,2025-02-16T00:00:00.000-05:00,0,L,0,QQQQQQQQQQQQ,QQQQQQQQQQQQ,H,0,0,DUAL CARD
15285,bolagvAF1GleQP7r,SVRDCMSNAS887,2015-07-27T00:00:00.000-04:00,2022-06-06T00:00:00.000-04:00,0,E,0,QQQQQQQQQQQQ,QQQQQQQQQQQQ,H,0,0,DUAL CARD