In [14]:
#am
import pandas as pd
from ipynb.fs.full.cleaning_account_dim import check_na_columns

In [15]:
df = pd.read_csv("../data/wrld_stor_tran_fact_20250325.csv")
df.head()

,current_account_nbr,transaction_type,transaction_code,transaction_date,transaction_amt,payment_type,transaction_return_cnt,transaction_sale_cnt,product_amt,product_qty,...,first_purchase_ind,adj_orgn_tran_dt,curr_markup_fee,fcr_amount,fcr_flag,fcr_rate_of_exchange,frgn_curr_code,frgn_tran_amt,us_equiv_amt,posting_date
0,8DPC9336FwGf8TPz,SALE,253,2024-04-29,47.40,NaN,0,1,NaN,NaN,...,N,2024-03-17,0.0,NaN,NaN,NaN,840,47.40,0.0,2024-04-30
1,DRTiAtZURdSfMAB0,SALE,253,2024-06-25,87.13,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,87.13,0.0,2024-06-27
2,4y1CqjRDtP3w8Nb5,SALE,253,2024-08-06,30.00,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,30.00,0.0,2024-08-07
3,3dPDITyRPlzdq3wf,SALE,253,2024-09-05,32.30,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,32.30,0.0,2024-09-05
4,q1mnsZTeAaQH71AF,SALE,253,2024-12-30,4.40,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,4.40,0.0,2024-12-31

In [16]:
df.shape[0]

1053854

In [17]:
cols_to_replace = ["fcr_flag","fcr_amount","product_amt","product_qty","payment_type","fcr_rate_of_exchange"]

In [18]:
check_na_columns(df)

payment_type              1053854
fcr_rate_of_exchange      1053854
fcr_flag                  1053854
product_amt               1053854
product_qty               1053854
fcr_amount                1053854
adj_orgn_tran_dt          1009290
invoice_nbr                887004
us_equiv_amt                   85
frgn_tran_amt                  85
frgn_curr_code                 85
curr_markup_fee                85
current_account_nbr             0
first_purchase_ind              0
transaction_type                0
transaction_sale_cnt            0
transaction_return_cnt          0
transaction_amt                 0
transaction_date                0
transaction_code                0
posting_date                    0
dtype: int64

In [19]:
df[cols_to_replace].dtypes

fcr_flag                float64
fcr_amount              float64
product_amt             float64
product_qty             float64
payment_type            float64
fcr_rate_of_exchange    float64
dtype: object

In [20]:
# we dont want to lose data, so there will be a placeholder (0) for columns that do not have a value

for col in cols_to_replace:
    df[col] = df[col].fillna(0)
check_na_columns(df)

adj_orgn_tran_dt          1009290
invoice_nbr                887004
us_equiv_amt                   85
frgn_tran_amt                  85
frgn_curr_code                 85
curr_markup_fee                85
first_purchase_ind              0
fcr_rate_of_exchange            0
fcr_flag                        0
fcr_amount                      0
current_account_nbr             0
transaction_type                0
product_qty                     0
product_amt                     0
transaction_sale_cnt            0
transaction_return_cnt          0
payment_type                    0
transaction_amt                 0
transaction_date                0
transaction_code                0
posting_date                    0
dtype: int64

In [21]:
# this causes issues with time parsing
# df["adj_orgn_tran_dt"] = df["adj_orgn_tran_dt"].fillna("No Date")
# check_na_columns(df)

In [22]:
df["invoice_nbr"] = df["invoice_nbr"].fillna("No Invoice Number")
check_na_columns(df)

adj_orgn_tran_dt          1009290
us_equiv_amt                   85
frgn_tran_amt                  85
frgn_curr_code                 85
curr_markup_fee                85
current_account_nbr             0
first_purchase_ind              0
fcr_rate_of_exchange            0
fcr_flag                        0
fcr_amount                      0
invoice_nbr                     0
transaction_type                0
product_qty                     0
product_amt                     0
transaction_sale_cnt            0
transaction_return_cnt          0
payment_type                    0
transaction_amt                 0
transaction_date                0
transaction_code                0
posting_date                    0
dtype: int64

In [23]:
df.head()

,current_account_nbr,transaction_type,transaction_code,transaction_date,transaction_amt,payment_type,transaction_return_cnt,transaction_sale_cnt,product_amt,product_qty,...,first_purchase_ind,adj_orgn_tran_dt,curr_markup_fee,fcr_amount,fcr_flag,fcr_rate_of_exchange,frgn_curr_code,frgn_tran_amt,us_equiv_amt,posting_date
0,8DPC9336FwGf8TPz,SALE,253,2024-04-29,47.40,0.0,0,1,0.0,0.0,...,N,2024-03-17,0.0,0.0,0.0,0.0,840,47.40,0.0,2024-04-30
1,DRTiAtZURdSfMAB0,SALE,253,2024-06-25,87.13,0.0,0,1,0.0,0.0,...,N,NaN,0.0,0.0,0.0,0.0,840,87.13,0.0,2024-06-27
2,4y1CqjRDtP3w8Nb5,SALE,253,2024-08-06,30.00,0.0,0,1,0.0,0.0,...,N,NaN,0.0,0.0,0.0,0.0,840,30.00,0.0,2024-08-07
3,3dPDITyRPlzdq3wf,SALE,253,2024-09-05,32.30,0.0,0,1,0.0,0.0,...,N,NaN,0.0,0.0,0.0,0.0,840,32.30,0.0,2024-09-05
4,q1mnsZTeAaQH71AF,SALE,253,2024-12-30,4.40,0.0,0,1,0.0,0.0,...,N,NaN,0.0,0.0,0.0,0.0,840,4.40,0.0,2024-12-31

In [24]:
df["transaction_date"] = pd.to_datetime(df["transaction_date"], errors="coerce")
df["adj_orgn_tran_dt"] = pd.to_datetime(df["adj_orgn_tran_dt"], errors="coerce")
df["posting_date"] = pd.to_datetime(df["posting_date"], errors="coerce")
df.dtypes

current_account_nbr               object
transaction_type                  object
transaction_code                   int64
transaction_date          datetime64[ns]
transaction_amt                  float64
payment_type                     float64
transaction_return_cnt             int64
transaction_sale_cnt               int64
product_amt                      float64
product_qty                      float64
invoice_nbr                       object
first_purchase_ind                object
adj_orgn_tran_dt          datetime64[ns]
curr_markup_fee                  float64
fcr_amount                       float64
fcr_flag                         float64
fcr_rate_of_exchange             float64
frgn_curr_code                    object
frgn_tran_amt                    float64
us_equiv_amt                     float64
posting_date              datetime64[ns]
dtype: object

In [25]:
df.to_csv("../cleaned_data/cleaned_wrld_stor_tran_fact.csv",index=False)