In [196]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/account_dim_20250325.csv')

print(df.head(10))

print(len(df))

  current_account_nbr     client_id                      open_date  \
0    nTgalbpd5Rsol7CA   YCTHAA278DC  2020-07-17T00:00:00.000-04:00
1    xYaLrD9IvmbVl1PB   CCSP489PLCC  2024-07-24T00:00:00.000-04:00
2    JM78WNziiRWgmL8e  HGBHARRFT984  2024-05-05T00:00:00.000-04:00
3    bv4NLVhWTGCf8KgC      OSELW263  2024-07-28T00:00:00.000-04:00
4    nrXceQabYIHo31lp  HGBHARRFT984  2024-09-15T00:00:00.000-04:00
5    L0r6GlmV0Ngx7E9P   ONEMV447COB  2024-05-12T00:00:00.000-04:00
6    JiogbNNfOSWVGjdr   CCSP489PLCC  2024-09-10T00:00:00.000-04:00
7    nb2pG80DDq4ucyZI   ARPPYALC768  2024-06-18T00:00:00.000-04:00
8    kqrsB4FtU00uXpWU      OSELW263  2024-06-30T00:00:00.000-04:00
9    ppwFGSPBF57u8319      JTX290DC  2024-08-23T00:00:00.000-04:00

            card_activation_date card_activation_flag ebill_ind  \
0                            NaN                    8         E
1  2024-08-09T00:00:00.000-04:00                    0         E
2  2024-05-05T00:00:00.000-04:00                    0  \\\\\\""
3  2024-09-08T00:00:00.000-04:00                    0  \\\\\\""
4  2024-09-15T00:00:00.000-04:00                    0  \\\\\\""
5  2024-05-12T00:00:00.000-04:00                    0         E
6  2024-09-10T00:00:00.000-04:00                    0         E
7  2024-06-18T00:00:00.000-04:00                    0         E
8  2025-01-10T00:00:00.000-05:00                    0  \\\\\\""
9  2024-09-05T00:00:00.000-04:00                    0         E

   date_in_collection  overlimit_type_flag payment_hist_1_12_mths  \
0                 NaN                    0           ZZZZZZIAZZZZ
1                 NaN                    0               IQIIIQIA
2                 NaN                    0            IIIQIQIIIIA
3                 NaN                    0                I1III1A
4                 NaN                    0               \\\\\\""
5                 NaN                    0               \\\\\\""
6                 NaN                    0               \\\\\\""
7                 NaN                    0             QIQIQQQQQA
8                 NaN                    0                    IQQ
9                 NaN                    0                QIQQQQA

  payment_hist_13_24_mths employee_code  external_status_reason_code  \
0            ZZZZIIIQIIII           NaN                            0
1                \\\\\\""           NaN                            0
2                \\\\\\""           NaN                            0
3                \\\\\\""           NaN                            0
4                \\\\\\""           NaN                            0
5                \\\\\\""           NaN                            0
6                \\\\\\""           NaN                            0
7                \\\\\\""           NaN                            0
8                \\\\\\""           NaN                            0
9                \\\\\\""           NaN                            0

   special_finance_charge_ind  pscc_ind ext_status_reason_cd_desc  \
0                         NaN         0                       NaN
1                         NaN         1                       NaN
2                         NaN         0                       NaN
3                         NaN         0                       NaN
4                         NaN         0                       NaN
5                         NaN         0                       NaN
6                         NaN         1                       NaN
7                         NaN         0                       NaN
8                         NaN         0                       NaN
9                         NaN         0                       NaN

  account_card_type
0         DUAL CARD
1         DUAL CARD
2              PLCC
3              PLCC
4              PLCC
5         DUAL CARD
6              PLCC
7              PLCC
8              PLCC
9         DUAL CARD
18070

In [197]:
def check_na_columns(df):
  
  na_counts = df.isna().sum()
  na_counts_sorted = na_counts.sort_values(ascending=False)
  return na_counts_sorted

na_columns = check_na_columns(df)
print(na_columns)

date_in_collection             18070
special_finance_charge_ind     18070
ext_status_reason_cd_desc      15493
employee_code                  15067
card_activation_date            2847
ebill_ind                         18
current_account_nbr                0
client_id                          0
open_date                          0
card_activation_flag               0
overlimit_type_flag                0
payment_hist_1_12_mths             0
payment_hist_13_24_mths            0
external_status_reason_code        0
pscc_ind                           0
account_card_type                  0
dtype: int64

In [198]:
# date_in_collection & special_finance_char_ind are empty columns
# ext_status_reason_cd_desc contains the description to the external_status_reason_code column
df = df.drop(columns=["date_in_collection", "special_finance_charge_ind"])

# changing the employee_code to better represent high_income accounts
df = df.rename(columns={'employee_code' : 'high_income'})
df.high_income = df.high_income.replace({np.nan: 0, "Y": 0, 'H': 1})

# parsing wrong format for space
df = df.replace(r'\\\\\\""', " ")

check_na_columns(df)

/var/folders/c0/ffxpm1sd2nn95pxfz923sdn40000gp/T/ipykernel_20505/151030967.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.high_income = df.high_income.replace({np.nan: 0, "Y": 0, 'H': 1})

ext_status_reason_cd_desc      15493
card_activation_date            2847
ebill_ind                         18
current_account_nbr                0
client_id                          0
open_date                          0
card_activation_flag               0
overlimit_type_flag                0
payment_hist_1_12_mths             0
payment_hist_13_24_mths            0
high_income                        0
external_status_reason_code        0
pscc_ind                           0
account_card_type                  0
dtype: int64

In [199]:
# inactivated accounts set default time / parsing time object

df['card_activation_date'] = df['card_activation_date'].fillna(pd.NaT)
df["ebill_ind"] = df['ebill_ind'].fillna(" ")

df['card_activation_date'] = pd.to_datetime(df['card_activation_date'], utc=True)
df['open_date'] = pd.to_datetime(df['open_date'], utc=True)

df

,current_account_nbr,client_id,open_date,card_activation_date,card_activation_flag,ebill_ind,overlimit_type_flag,payment_hist_1_12_mths,payment_hist_13_24_mths,high_income,external_status_reason_code,pscc_ind,ext_status_reason_cd_desc,account_card_type
0,nTgalbpd5Rsol7CA,YCTHAA278DC,2020-07-17 04:00:00+00:00,NaT,8,E,0,ZZZZZZIAZZZZ,ZZZZIIIQIIII,0,0,0,NaN,DUAL CARD
1,xYaLrD9IvmbVl1PB,CCSP489PLCC,2024-07-24 04:00:00+00:00,2024-08-09 04:00:00+00:00,0,E,0,IQIIIQIA,,0,0,1,NaN,DUAL CARD
2,JM78WNziiRWgmL8e,HGBHARRFT984,2024-05-05 04:00:00+00:00,2024-05-05 04:00:00+00:00,0,,0,IIIQIQIIIIA,,0,0,0,NaN,PLCC
3,bv4NLVhWTGCf8KgC,OSELW263,2024-07-28 04:00:00+00:00,2024-09-08 04:00:00+00:00,0,,0,I1III1A,,0,0,0,NaN,PLCC
4,nrXceQabYIHo31lp,HGBHARRFT984,2024-09-15 04:00:00+00:00,2024-09-15 04:00:00+00:00,0,,0,,,0,0,0,NaN,PLCC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18065,K8ixzIELRNtw1drn,YAUAPPLLDA934,2023-11-27 05:00:00+00:00,NaT,7,E,0,ZZZZZQQQQQQQ,QQ#A,0,35,0,A35 Temporary Freeze - Customer may have lost ...,DUAL CARD
18066,CRIi94oT7Dddh2zu,TJX513PLCC,2023-09-11 04:00:00+00:00,2023-09-11 04:00:00+00:00,0,,0,ZZZZZZZZZZZZ,ZZZZIA,0,35,0,A35 Temporary Freeze - Customer may have lost ...,PLCC
18067,XiW0as5dJX6GJRi0,CCSP489PLCC,2023-12-03 05:00:00+00:00,NaT,7,E,0,ZZZIIIIIIIII,IIIA,0,35,1,A35 Temporary Freeze - Customer may have lost ...,DUAL CARD
18068,Xu1i4wqn776tFKU6,CMSSSNAO606,2023-07-27 04:00:00+00:00,2025-01-20 05:00:00+00:00,0,E,0,Z0ZZZZIIAIQQ,QQQIQIA,0,46,0,A46 Universal Fraud Team Potential Fraud,PLCC
18069,UU3UiLwIVVSikGPq,ARPPYALC768,2016-03-03 05:00:00+00:00,2019-07-11 04:00:00+00:00,0,L,0,ZZZZZZZZZZZZ,ZZZZZZZQ,0,0,0,NaN,PLCC

In [200]:
# parsing format
df['ext_status_reason_cd_desc'] = np.where(
    pd.isna(df['ext_status_reason_cd_desc']) & (df['external_status_reason_code'] == 0), 
    'Normal',
    np.where(
        pd.isna(df['ext_status_reason_cd_desc']) & (df['external_status_reason_code'] != 0), 
        'Other', 
        df['ext_status_reason_cd_desc']))
df

,current_account_nbr,client_id,open_date,card_activation_date,card_activation_flag,ebill_ind,overlimit_type_flag,payment_hist_1_12_mths,payment_hist_13_24_mths,high_income,external_status_reason_code,pscc_ind,ext_status_reason_cd_desc,account_card_type
0,nTgalbpd5Rsol7CA,YCTHAA278DC,2020-07-17 04:00:00+00:00,NaT,8,E,0,ZZZZZZIAZZZZ,ZZZZIIIQIIII,0,0,0,Normal,DUAL CARD
1,xYaLrD9IvmbVl1PB,CCSP489PLCC,2024-07-24 04:00:00+00:00,2024-08-09 04:00:00+00:00,0,E,0,IQIIIQIA,,0,0,1,Normal,DUAL CARD
2,JM78WNziiRWgmL8e,HGBHARRFT984,2024-05-05 04:00:00+00:00,2024-05-05 04:00:00+00:00,0,,0,IIIQIQIIIIA,,0,0,0,Normal,PLCC
3,bv4NLVhWTGCf8KgC,OSELW263,2024-07-28 04:00:00+00:00,2024-09-08 04:00:00+00:00,0,,0,I1III1A,,0,0,0,Normal,PLCC
4,nrXceQabYIHo31lp,HGBHARRFT984,2024-09-15 04:00:00+00:00,2024-09-15 04:00:00+00:00,0,,0,,,0,0,0,Normal,PLCC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18065,K8ixzIELRNtw1drn,YAUAPPLLDA934,2023-11-27 05:00:00+00:00,NaT,7,E,0,ZZZZZQQQQQQQ,QQ#A,0,35,0,A35 Temporary Freeze - Customer may have lost ...,DUAL CARD
18066,CRIi94oT7Dddh2zu,TJX513PLCC,2023-09-11 04:00:00+00:00,2023-09-11 04:00:00+00:00,0,,0,ZZZZZZZZZZZZ,ZZZZIA,0,35,0,A35 Temporary Freeze - Customer may have lost ...,PLCC
18067,XiW0as5dJX6GJRi0,CCSP489PLCC,2023-12-03 05:00:00+00:00,NaT,7,E,0,ZZZIIIIIIIII,IIIA,0,35,1,A35 Temporary Freeze - Customer may have lost ...,DUAL CARD
18068,Xu1i4wqn776tFKU6,CMSSSNAO606,2023-07-27 04:00:00+00:00,2025-01-20 05:00:00+00:00,0,E,0,Z0ZZZZIIAIQQ,QQQIQIA,0,46,0,A46 Universal Fraud Team Potential Fraud,PLCC
18069,UU3UiLwIVVSikGPq,ARPPYALC768,2016-03-03 05:00:00+00:00,2019-07-11 04:00:00+00:00,0,L,0,ZZZZZZZZZZZZ,ZZZZZZZQ,0,0,0,Normal,PLCC

In [201]:
df['high_income'] = df['high_income'].astype(bool)
df['pscc_ind'] = df['pscc_ind'].astype(bool)

print(df.dtypes)

current_account_nbr                         object
client_id                                   object
open_date                      datetime64[ns, UTC]
card_activation_date           datetime64[ns, UTC]
card_activation_flag                        object
ebill_ind                                   object
overlimit_type_flag                          int64
payment_hist_1_12_mths                      object
payment_hist_13_24_mths                     object
high_income                                   bool
external_status_reason_code                  int64
pscc_ind                                      bool
ext_status_reason_cd_desc                   object
account_card_type                           object
dtype: object

In [202]:
df.to_csv('cleaned_account_dim.csv', index=False)

<p> 0–7 = No postings during the cycle (delinquent for that many cycles)

Debit Postings Only (A–H):
A = Account not delinquent
B - H = Account 1-7 cycles delinquent

Z = Account not statemented because of zero balance and no activity

Credit postings only (I–P):

I = Account not delinquent
J - P = Account 1 - 7 cycles delinquent

Special flags for credit balances:

% = Credit balance with no activity
\# = Credit balance with debit and credit activity
\+ = Credit balance with debit activity only
-- = Credit balance with credit activity only
</p>